@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-background text-foreground font-sans overflow-x-hidden;

  &::selection {
    @apply bg-foreground/60 text-background;
  }
}

@utility main-container {
  @apply mx-auto max-w-3xl pt-16 p-6  overflow-x-hidden;
}

@utility code-block {
  @apply inline-block rounded bg-slate-800 text-white px-1.5 py-0.5 font-mono text-sm;
}

@utility link {
  @apply text-sky-300 hover:underline font-medium;
}

@utility skeleton {
  @apply bg-gray-700 rounded animate-pulse;
}
